data/** filter=lfs diff=lfs merge=lfs -text
results filter=lfs diff=lfs merge=lfs -text
results/output_2026-04-03_20-27_tatoeba_word_checkpoint-2415_tatoeba.pkl filter=lfs diff=lfs merge=lfs -text
results/output_2026-04-03_22-53_tatoeba_checkpoint-534_tatoeba.pkl filter=lfs diff=lfs merge=lfs -text
results/output_2026-04-03_00-54_tatoeba_newsph_stress_word_checkpoint-5802_manual.pkl filter=lfs diff=lfs merge=lfs -text
results/output_2026-04-03_00-54_tatoeba_newsph_stress_word_checkpoint-5802_tatoeba.pkl filter=lfs diff=lfs merge=lfs -text
results/output_2026-04-03_00-54_tatoeba_newsph_stress_word_checkpoint-8703_tatoeba.pkl filter=lfs diff=lfs merge=lfs -text
results/output_2026-04-03_00-54_tatoeba_newsph_stress_word_checkpoint-9670_manual.pkl filter=lfs diff=lfs merge=lfs -text
results/output_2026-04-03_00-54_tatoeba_newsph_stress_word_checkpoint-9670_tatoeba.pkl filter=lfs diff=lfs merge=lfs -text
results/output_2026-04-03_11-32_tatoeba_newsph_stress_checkpoint-4266_tatoeba.pkl filter=lfs diff=lfs merge=lfs -text
